html {
    background-color: #fff;
    /* color: #555; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    overflow: scroll;
    
}

header{
    min-height: 200px;
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.80)), url("https://images.unsplash.com/photo-1508182314998-3bd49473002f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.80)), url("https://images.unsplash.com/photo-1570793005299-c091be91bbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    background-position: center; 
    height: 15em;
    background-attachment: fixed;
    /* //background-position: 100% 40%; */
    text-align: left;
    color: white;
    padding: 20px 15px 320px 100px;
    
}

h1 {
    font-size: 250%;
    font-weight: 300;
    word-spacing: 4px; 
    letter-spacing: 2px;
    padding-top: 220px;
}

h2 {
    font-size: 25px;
}

.headingh2 {
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

.tripDropDown{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 5px 35px 5px;
    background-color: rgb(0, 24, 24);
    /* background-color: #393b44; */
    

}
.tripDropDown__Select {
    flex-basis:space-evenly;
    padding: 10px 0;
    font-size: 14px;
    background-color: rgb(233, 233, 233);
    /* background-color: #d6e0f0; */
    border-radius: 10px;
    
}

.tripDropDown__Select:hover{
    background-color: rgb(142, 140, 140);
    
    /* font-size: 15px; */
}

body {
    margin: 0px;
}

.itinerary {
    border: 1px solid black;
    display: flex;
}

.previewItinerary {
    border: 1px solid black;
    justify-content: space-between;
    flex: 3;
    flex-wrap: wrap;
}

.selectedItems {
    display: flex;
    background-color: rgb(235, 235, 235);
    min-width: 100%;

}
.selectedItemCard{
    min-width: 33%;
    min-height: 400px;
    border: 1px solid black;
    /* padding: 0 20px 10px 8px; */
    
    /* transition: outline 0.6s linear;
    margin: 0.5em; */
}
.selectedItemCard:hover{
        /* outline-width: 5px;  */
        position: relative;
        bottom: 5px;
        box-shadow: 0 10px 5px rgb(0, 24, 24);
}

.parkContent,
.eateryContent,
.attractionContent,
.workingItineraries,
.savedItineraryCard {
    padding: 10px 15px;
}



.selectedItemCard > h2,
.savedItineraryCard > h2, 
h4, 
h2{
    text-align: center;
}

.savedItineraries{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.savedItineraryCard{
    flex-basis: 30%;
    border: 1px solid black;
    /* padding: 0 3px 0 3px; */
    
}


/* .parkContent {
    
    justify-content: space-between;
} */

.savedItineraries {
    flex: 1;
    background-color: #d7dced;

}

.selectedItems {
    justify-content: space-between;
}
.buttonBar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(213, 213, 213);
    
    
}
.btn {
    
    padding: 10px 30px 10px 30px;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    color: white;
    border: 1px solid #fff;
    margin-right: 30px;
    margin-top: 30px;
    
}

.btn-filled:link,
.btn-filled:visited {
    background-color: #666d8c;
    color: #fff;
}

.buttonSelectable:hover,
.btn-filled:hover,
.btn-ghost:hover {
        background-color: #393b44; 
}

.buttonSelectable {
    
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.5s, border 0.2s, color 0.2s;
    color: white;
    border: 1px solid #fff;
    background-color: #666d8c;   
    padding: 10px 30px;
    margin: 10px;
}

.buttonUnselectable {
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.5s, border 0.2s, color 0.2s;
    color: white;
    border: 1px solid #fff;
    background-color: #bababa;   
    padding: 10px 30px;
    margin: 10px;
}

footer {
    text-align: center;
    font-size: small;
    padding: 20px 0;
}

.weatherPicture{
    width: 30px;
}

/* Nav Styling */
.main-nav {
    float: right;
    list-style: none;
    
    display: flex;
    flex-direction: row;
}



.main-nav li {
    
    margin: 2px 0 15px 40px;
    
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid #6684e9 transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #6684e9
}

/* search bar styling */
.searchBar {
    padding: 25px 15px;
}

.searchBar__output {
    font-size: 16px;  
}